// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.title {
    margin-left: -1rem;
    padding-left: 1rem;
    border-left: 3px solid #47D5FA;
}

textarea {
    border: none;
    outline: none;
}
